<div class="ui segment">
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form class="ui form">
    <div class="field">
      <label>P.O. Number</label>
      <input type="text" name="order[poNumber]" id="order_poNumber" placeholder="Purchase Order Number">
    </div>
    <div class="three fields">
      <div class="date field">
        <label>Date</label>
        <input type="text" id="datepicker">
      </div>
      <div class="date field">
        <label>Target Date</label>
        <input type="text" id="datepicker">
      </div>
    </div>
    <div class="field">
      <label>Contact</label>
      <input>
    </div>
    <div class="field">
      <label>Amount</label>
      <input>
    </div>
    <div class="field">
      <label>Unit</label>
      <input>
    </div>
  </form>
</div>

<h4 class="ui dividing header"></h4>
